<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NoteTakingApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NoteTakingApp.Properties.Settings>
            <setting name="SavedUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMeOption" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchServiceUri" serializeAs="String">
                <value>https://tege.search.windows.net</value>
            </setting>
            <setting name="SearchServiceQueryApiKey" serializeAs="String">
                <value>0A8TscNOSfVNap4DgXvxY3DA7XWM2nQ6UR77mxGLj0AzSeCJ2VuB</value>
            </setting>
            <setting name="NoteIndex" serializeAs="String">
                <value>azuresql-index</value>
            </setting>
        </NoteTakingApp.Properties.Settings>
    </userSettings>
</configuration>